<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title | default: site.title | escape }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">
			{% include header.html %}

			{% include menu.html %}

			<!-- Main -->
			<div id="main">
				{{ content }}
			</div>

			{% include sidebar.html %}
		</div>

		{% include scripts.html %}
	</body>
</html>